/* Import Font Face */
@import url(./font.css);
/* Import Variables */
@import url(./variables.css);
/* Import Global Css */
@import url(./global.css);
header .navbar{
    padding: 0 5rem;
}
header .navbar .navbar-brand{
    padding: .5rem 3rem .5rem 1rem;
}
.navbar .navbar-nav{
    padding: 0 0rem 0 20rem;
}
.navbar .navbar-nav .nav-item{
    padding: 0 .75rem 0 0rem;
    font-size: 14px;
    text-transform: uppercase;
}
.navbar .navbar-nav .nav-item:hover .nav-link{
    color: #fff;
}
header .header-main{
    background: #555554;
}
header .header-main::after{
    content: '';
    clear: both;
    display: block;
}
header .header-main .container{
    padding: 10rem 0;
}
header .header-main h2{
    font: normal bold 60px/62px var(--raleway);
    padding-bottom: 1.5rem;
}
header .header-main h2>span{
    color: var(--primary-color);
}
header .header-main p{
    line-height: 22px;
    text-align: center;
    padding: 1rem 10rem 4.5rem 10rem;
}
/* About area*/
.about-area .about-left .text-area{
    background: #3c1917;
}
.about-area .about-left .text-area h5{
    color: #fff;
    padding: 10px 0;
    font: normal 600 24px/24px var(--raleway);
    margin-bottom: 0;
}
.about-area .row .social  a>i.fab{
    margin: 5px 4px 10px 4px;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    transition: .6s ease;
}
.about-area .row .social  a:hover>i.fab{
    background-color: #7e3531;
    color: #fff;
}
.about-area .row .row{
    padding: 0 0 0 .75rem;
}
.about-area h4{
    font-weight: 600;
    padding: 2.5rem 0 1.5rem 0;
    color: #2D2D2D;
}
.about-area .row .row p:last-of-type{
    padding: 0 0 4.5rem 0;
}
.video-area{
    background: #464645;
}
.video-area h6{
    font: normal 600 28px/28px var(--raleway);
}

