/* Import Font Face */
@import url(./font.css);
/* Import Variables */
@import url(./variables.css);
/* Import Global Css */
@import url(./global.css);


header .navbar {
    padding: 0 5rem;
}

header nav {
    background: #232323;
}

header .navbar .navbar-brand {
    padding: .5rem 3rem .5rem 1rem;
}

.navbar .navbar-nav {
    padding: 0 0rem 0 20rem;
}

.navbar .navbar-nav .nav-item {
    padding: 0 .75rem 0 0rem;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-item:hover .nav-link {
    color: #fff;
}

header .header-main {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) no-repeat top center fixed;
    background-size: cover;
    transition: .6s ease;
}

header .header-main:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) no-repeat top center fixed;
    background-size: cover;
}


header .header-main .container {
    padding: 10rem 0;
}

header .header-main h2 {
    font: normal bold 60px/62px var(--raleway);
    padding-bottom: 1.5rem;
}

header .header-main h2>span {
    color: var(--primary-color);
}

header .header-main p {
    line-height: 22px;
    text-align: center;
    padding: 1rem 10rem .5rem 10rem;
}

/* About area*/
/* .about-area .about-left .text-area {
    background: #3c1917;
}*/
.about-area .about-img {
    position: relative;
    height: 450px;
    overflow: hidden;
}

.about-area .about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.about-area .about-img:hover img {
    filter: contrast(1.1);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.about-area .about-img .overlay {
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.about-area .about-img:hover .overlay {
    background: rgba(207, 60, 52, 0.5);
}

.about-area .about-img .text-area {
    position: absolute;
    background: rgba(207, 60, 52, 0.5);
    bottom: -2px;
    width: 100%;
    text-align: center;
}

.about-area .about-left .text-area h5 {
    color: #fff;
    padding: 5px 0;
    font: normal 600 22px/23px var(--raleway);
    margin-bottom: 0;
}

.about-area .row .social a>i.fab {
    margin: 5px 4px 10px 4px;
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
    color: #fff;
    line-height: 35px;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    transition: .6s ease;
}

.about-area .row .social a:hover>i.fab {
    background-color: #7e3531;
    color: #fff;
}

.about-area .row .row {
    padding: 0 0 0 .75rem;
}

.about-area h4 {
    font-weight: 600;
    padding: 2.5rem 0 1.5rem 0;
    color: #2D2D2D;
}

.about-area .row .row p:last-of-type {
    padding: 0 0 4.5rem 0;
}

/* Video Area */
.video-area {
    background: #464645;
}

.video-area h6 {
    font: normal 600 28px/28px var(--raleway);
}

.service-area i {
    color: var(--primary-color);
}

.service-area p.subtitle {
    font-family: var(--raleway);
    font-weight: 500;
    padding: 0 .75rem;
}

.service-area .row {
    margin: 2rem 0;
}

.skill {
    background: #f2f2f2;
    padding: 5rem 0;
}

.skill .row .skill-title {
    font: normal 600 28px/30px var(--raleway);
    text-transform: capitalize;
    padding: 1rem 0;
}

.skill .row p.subtitle {
    font: normal 500 14px/18px var(--raleway);
    padding: 0 1.5rem 0 0;
    color: #2d2d2d;
}

.skill .skill-p {
    font: normal 500 14px/20px var(--raleway);
    text-transform: uppercase;
}

/* Count area */
.count-area {
    background: #555554;
}

.count-area .counter-box {
    color: #fff;
}

.count-area .counter-box .icon-box {
    border: 2px solid #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: .75rem auto 1rem auto;
}

.count-area .counter-box .icon-box>i {
    line-height: 45px;
    font-size: 20px;
}

.count-area .counter-box p.counter {
    font: normal 500 25px/25px var(--raleway);
    margin: 0 0 .5rem 0;
}

.count-area .counter-box p {
    font: normal 500 16px/16px var(--raleway);
    margin: 0 0 .5rem 0;
}

/* Count area end */
/* Portpolio area  */
.portpolio-area .button-group button {
    border: none;
    background: transparent;
    font: normal 600 14px/20px var(--raleway);
    margin: 0 10px;
    cursor: pointer;
    color: #2D2D2D;
    transition: 0.6s ease;
}

.portpolio-area .button-group button:hover {
    background: transparent;
    color: var(--primary-color);
}

.portpolio-area .grid .overlay-container {
    position: relative;
    display: block;
}

.portpolio-area .grid .img {
    box-shadow: 0px 0px 6px 5px #dfdfdf;
}

.portpolio-area .grid .img>img {

    transition: .5s ease;
}

.portpolio-area .grid .items:hover .img>img {
    filter: brightness(1.1);
    transform: scale(1.02);
}

.portpolio-area .grid .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: .2s ease-in;
}

.portpolio-area .grid .items:hover .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(204, 77, 77, 0.5);
}

.portpolio-area .grid .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .6s ease;
    overflow: hidden;
}

.portpolio-area .grid .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .6s ease;
}

.portpolio-area .grid .content i {
    width: 100%;
    color: #fff;
    position: absolute;
    text-align: center;
    bottom: -150px;
    transition: .6s ease;
}

.portpolio-area .grid .items:hover .content i {
    width: 100%;
    top: 50%;
}

/* Team area */
.my-team {
    background: #f2f2f2;
}

.my-team .carousel .item {
    width: 250px;
    height: auto;
    max-height: 380px;
    margin: 10px 15px;
    position: relative;
    box-shadow: 0 0 15px #c9c9c9;
}

.my-team .carousel .item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -22.3rem;
    background: rgba(255, 48, 48, 1);
    transition: .5s ease;
}

.my-team .carousel .item {
    background: transparent;
    transition: .5s ease-in-out;
}

/*.my-team .carousel .owl-item.active{
    border-bottom: 5px solid #ff0000;
}*/
.my-team .carousel .item:hover {
    background: rgba(255, 48, 48, 1);
}

.my-team .carousel .item .img>img {
    transition: .6s ease;
}

.my-team .carousel .item:hover .img>img {
    filter: brightness(1.25);
}

.my-team .carousel .item h5 {
    color: #f2f2f2;
    text-transform: capitalize;
    font: normal 600 18px/20px var(--raleway);
    padding-top: 10px;
}

.my-team .carousel .item .social a>i.fab {
    margin: 5px 4px 10px 4px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    color: #f2f2f2;
    line-height: 35px;
    font-size: 17px;
    text-align: center;
    border-radius: 50%;
    transition: .6s ease;
}

.my-team .carousel .item .social a:hover>i.fab {
    background-color: #7e3531;
    color: #fff;
}

.t-area {
    background: #737373;
    position: relative;
}

.t-area .img {
    text-align: center;
    height: 90px;
    width: 85px;
    margin: 0 auto;
}

.t-area .img>img {
    border-radius: 50%;
}

.t-area .name {
    font: italic 600 20px/20px var(--raleway);
    color: #fff;
}

.t-area p {
    font: normal 500 14px/16px var(--raleway);
    color: #dadada;
    padding: 0 12rem;
    text-align: center;
}

.blog-area .all-content {
    box-shadow: 0px 0px 6px 5px #dfdfdf;
    transition: .5s ease;
}

.blog-area .all-content:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 6px 5px #dfdfdf;
}

.blog-area .all-content .content {
    font: normal 400 14px/16px var(--raleway);
    padding: 0 0 0 .75rem;
    color: #191212 !important;
}

.blog-area .all-content .content h5 {
    font: normal 600 24px/26px var(--raleway);
    padding-top: 1rem;
    padding-bottom: .75rem;
    color: #bfbfbf;
}

.blog-area .all-content .content .date {
    font: normal 500 14px/16px var(--raleway);
    margin: .75rem 0;
}

.blog-area .all-content .content .row {
    height: 40px;
    margin: 0px auto;
}

.blog-area .all-content .content .row a {
    padding: 8px 15px;
    background: #000000;
    color: #fff;
    border-radius: 2px;
    transition: .5s ease;
}

.blog-area .all-content .content .row a:hover {
    background: transparent;
    color: var(--primary-color);
    text-decoration: none;
}

.blog-area .all-content .content .row a.comment {
    background: transparent;
    color: #000000;
    border-radius: 2px;
}

.blog-area .all-content .content .row a.comment:hover {
    background: #000000;
    color: #fff;
    text-decoration: none;
}

.contact {
    background: #464645;
}

.contact form .email input,
.contact form .subject input {
    width: 100%;
    color: #c2c1c1;
    border: 1px solid #fff;
    background: transparent;
    margin-bottom: 25px;
    padding: 16px;
}

.contact form .textarea input {
    width: 100%;
    border: 1px solid #fff;
    background: transparent;
    margin-bottom: 25px;
    padding: 20px 20px 40px 20px;
    color: #c2c1c1;
}

.contact input.button {
    padding: 12px 15px;
}

footer {
    background: #1a1a1a;
}

footer .row {
    color: #fff;
}

footer .social a {
    color: #fff;
    margin: 0 12px;
    transition: .6s ease;
}

footer .social a:hover {
    color: #ff0000;
}